# MongoDB Configuration
MONGO_URI=mongodb://localhost
MONGO_PORT=27017
MONGO_COLLECTION=urls

# App Configuration
APP_HOST=localhost
APP_PORT=8080
APP_SHORTENER_URI=http://localhost:8080

# Cors
CORS_ALLOWED_ORIGIN="http://localhost:3000,https://url.prastamaha.dev"
CORS_ALLOWED_HEADERS="*"
CORS_ALLOWED_METHODS="POST,GET,PUT,OPTIONS,DELETE,HEAD"
CORS_ALLOW_CREDENTIALS="true"